<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <title>
        {% block title %}
        {% endblock title %}
    </title>
  </head>

  <!-- bg-background 
  and by clicking this anchor tag if we want to go to home page we add route in href attribute as "/" and create route in main app file , similarly we can add this functionality to all tags -->
   

  <body>
    <div class="bg-img" style="background-image: url('static/images/doc9.jpg');
   height: 135vh">
    <nav class="navbar navbar-expand-lg navbar-light bg-img" style="background-image: url('static/images/doc9.jpg');
    height: 9vh" >
      <a class="navbar-brand mt-3" href="/"><img src="static/images/doc11.png" style="height: 30px; height: 13vh" alt="logo">MedPlus</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
<!-- here active in li tag means that word will higllight when we keep cursor on it -->
      
      <div class="collapse navbar-collapse mt-3" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">

          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/doctors">Doctors</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/patients">Booking</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/bookings">My Details</a>
          </li>

{% if current_user.is_authenticated %}

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              More
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/logout">LogOut</a>
            </div>
          </li>
{% else %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Authentication
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/signup">SignUp</a>
              <a class="dropdown-item" href="/login">Login</a>
            </div>
          </li>
          
{% endif %}

        </ul>
      </div>
    </nav>
   
    {% block body %}
    {% endblock body %}

    <!--Here in button tag btn = button and primary means blue , secondary means grey , sucess means green , danger means red , warning means yellow , info means dark cyan blue , light means white, dark means black , link is blue text-->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
  </div>

  <div class="container">
    <footer class="footer mt-auto py-3">
    <div class="container text-center">
      <span class="text-muted">© 2023 MedPlus. All rights reserved.</span>
    </div>
  </footer>
  </div>

  </body>
</html>