{% extends 'base.html' %}

{% block title %}
SignUp
{% endblock title %}
<!--Here in button tag btn = button and primary means blue , secondary means grey , sucess means green , danger means red , warning means yellow , info means dark cyan blue , light means white, dark means black , link is blue text-->
{% block body %}
<!-- here mt means margine from top i.e mt-5 here margine from top is 5 -->
<!-- hita apan ek container banavlay ani tyat apan ek ajun container banavla ani tyala row banavla ani tyala 3 column madhi divide kelaay -->
<div class="container mt-5">
<div class="row">
  <!-- div.col-md-4* connamd means div container with column with four rows and *3 means three such comums of this div container -->
    <div class="col-md-4"></div>
    <div class="col-md-4 jumbotron shadow-lg p-3 mb-5 bg-white rounded">
      <br>
        <h1 class="text-center">SignUp</h1>
        <br>
        <div class="container">
        <form action="/signup" method="POST"> 
<!-- here form group and form control are responsible for the highlight of the box they import css from bootstrap and for and id attribute work same -->

            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" name="username" required>
              </div>
          
            <div class="form-group">
              <label for="email">Email Address</label>
              <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" required>
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>

            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" id="password" name="password" required>
            </div>
            Already have account? <a href="/login">Login</a> <br><br>
            <button type="submit" class="btn btn-danger shadow-lg p-3 mb-5 rounded">SignUp</button>
          </form>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>
</div>
{% endblock body %}