{% extends 'base.html' %}

{% block title %}
Home
{% endblock title %}

{% block body %}

<div class="container mt-5">
    <br>
    <div class="row">
        <div class="col-md-4"><div class="card" style="width: 19rem;">
            <img src="https://img.freepik.com/free-vector/flat-hand-drawn-hospital-reception-scene_52683-54613.jpg?size=626&ext=jpg&uid=R101215434&ga=GA1.2.972329461.1682925138&semt=robertav1_2_sidr" class="card-img-top" alt="doctor image">
            <div class="card-body">
              <h5 class="card-title">Book Appoinment</h5>
              <p class="card-text">Book an quick appoinment within few steps with most skilled doctor's.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>

        <div class="col-md-4"><div class="card" style="width: 20rem;">
            <img src="https://img.freepik.com/free-vector/cardiologists-examining-heart-with-stethoscope-blood-samples-lab-tubes-among-pills-heartbeat-diagram-vector-illustration-cardiology-medical-examination-heart-disease-concept_74855-9817.jpg?size=626&ext=jpg&uid=R101215434&ga=GA1.1.972329461.1682925138&semt=robertav1_2_sidr">
            <div class="card-body">
              <h5 class="card-title">Cardiac Care</h5>
              <p class="card-text">
                We strongly believe in “Patient-Centric” treatment so that informed and evidence-based decisions are taken for every patient.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>

        <div class="col-md-4"><div class="card" style="width: 19rem;">
            <img src="https://img.freepik.com/premium-vector/doctor-with-magnifier-blood-glucose-testing-meter-diabetes-diabetes-insulin-production_566886-3299.jpg?size=626&ext=jpg&uid=R101215434&ga=GA1.2.972329461.1682925138&semt=robertav1_2_sidr" class="card-img-top" alt="dibetis img">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
    </div>
</div>

{% endblock body %}